* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* styling header */
header {
  background: url("../img/main.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
ul {
  list-style: none;
  display: flex;
  /* margin: 20px; */
}
li {
  margin: 20px 15px;
}
li:first-child {
  margin-right: auto;
}
#introtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#introtext h1 {
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}
button {
  background: darkblue;
  color: white;
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  margin: 5px;
  border-radius: 4px;
}
/* detail seciton */
#detail,
#morebody {
  text-align: center;
  max-width: 60vw;
  margin: 0 auto;
}
h2 {
  font-weight: 600;
  margin: 20px 0px;
}
#detail p,
#morebody p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

hr {
  width: 30vw;
  margin: 0 auto;
  border: 2px solid blue;
}

/* img gallery */
#imgGallery {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#imgGallery img {
  max-height: 350px;
  min-width: 100px;
  padding: 15px;
}

#imgGallery .small {
  flex-basis: 30%;
}
#imgGallery .large {
  flex-basis: 70%;
}
@media (max-width: 860px) {
  #imgGallery img {
    max-height: 250px;
    padding: 10px;
  }
}
@media (max-width: 460px) {
  #imgGallery img {
    max-height: 200px;
    padding: 5px;
  }
}
/* More section  */
#more {
  background: gray;
  padding: 40px;
}
#morebody div {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#morebody input {
  padding: 9px;
  margin-right: 8px;
}
/* footer */
footer {
  background: black;
  color: white;
  text-align: center;
  height: 10vh;
}
